# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
outputs.json

# OSX
.DS_Store
.swp

# lambda files
*.zip
main

# Specs
client-api.yaml
rendered-client-api.yaml
csp-api.yaml
rendered-csp-api.yaml
specs/api/csp/sdk

# Generated SDK Files
specs/api/sdk

migrations/goose
migrations/docs/*

.idea
.vscode
